.footer ul{
  list-style-type: none;
  background-color: #D6C6B4;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.footer a{
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: large;
  padding: 15px;
  margin: 0px;
}

.footer li{
  float: left;
  margin-left: 16,67%;
  margin-right: 16,67%
}

.footer li:hover{
  background-color: #dac0a2;
}