/* Sticky Header */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #D6C6B4; /* Hintergrundfarbe für den Header */
}

/* Flexbox für die Navbar */
 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 20px;
}

/* Links auf der linken Seite */
.navbar .left-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar .left-links li {
  margin-right: 25px; /* Abstand zwischen den Links */
}

.navbar .left-links li a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: large;
  padding: 15px;
}

.navbar .left-links li:hover a {
  background-color: #dac0a2; /* Hover-Effekt für Links */
  border-radius: 5px;
}

/* Buttons auf der rechten Seite */
.navbar .right-buttons {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar .right-buttons li {
  margin-left: 10px; /* Abstand zwischen den Buttons */
}

.navbar .right-buttons li a {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  font-size: large;
  text-decoration: none;
  border-radius: 15px;
  border: 1px solid black;
}

.navbar .right-buttons li a:hover {
  background-color: lightgray; /* Hover-Effekt für Buttons */
}