.header .navbar ul {
  list-style-type: none;
  background-color: #D6C6B4;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: sticky;
}

.header .navbar a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: large;
  padding: 15px;
  margin: 0;
}

.header .navbar li {
  float: left;
  margin-left: 25px;
}

.header .navbar li:hover {
  background-color: #dac0a2;
}

.header .navbar button {
  float: right;
  font-size: medium;
  background-color: white;
  color: black;
  border-radius: 15px;
  margin-right: 10px;
  border: none;
}

.header .navbar button:hover {
  background-color: lightgray;
}
